<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang=""><![endif]-->

<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
	<head>
		<title>Thumbs up!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="resources/assets/css/main.css" />
		<link rel="stylesheet" href="resources/assets/css/index.css" />
	    <!-- JQury from Google CDN -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <!-- Sweet Alert -->
	    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		
		
<script th:inline="javascript">
/*<![CDATA[*/
var msg = [[${msg}]];
if(msg != null) alert(msg);

var token = [[${token}]];
if(token != null) localStorage.setItem("token",token);
							//alert(localStorage.getItem("token"));

$(document).ready(function(){
	/*
	var result = [[${loginRslt}]];
	if(result == "register") {
		document.getElementById("login_form").style.display = "none";
		document.getElementById("register_form").style.display = "block";
	}
	*/
});
/*]]>*/

//로그인 창 숨김 or 보여줌
function loginBtnNone(id){
	if(id == "goSmall"){
		var form = document.getElementById("login_form");
		if(form.style.display == "none"){
			form.style.display = '';
		} else {
			form.style.display = 'none';
		}
		document.getElementById("register_form").style.display = "none";
	} else if(id == "goRegister"){
		document.getElementById("login_form").style.display = "none";
		document.getElementById("register_form").style.display = "block";
	} else {
		document.getElementById("login_form").style.display = "block";
		document.getElementById("register_form").style.display = "none";
	}
}

//로그인 전 최종확인
function loginChk(){
	if($('#userId').val() == ""){
		alert("아이디를 입력해주세요.");
		$('#userId').focus();
		return false;
	} else if ($('#userPwd').val() == ""){
		alert("비밀번호를 입력해주세요.");
		$('#userPwd').focus();
		return false;
	} else {
		//alert("로그인 전송");
		return true;
	}
}

//회원가입 전 최종확인
function registerChk(){
	if($('#userId_reg').val() == ""){
		alert("아이디를 입력해주세요.");
		$('#userId_reg').focus();
		return false;
	} else if ($('#userPwd_reg').val() == ""){
		alert("비밀번호를 입력해주세요.");
		$('#userPwd_reg').focus();
		return false;
	} else if ($('#userName').val() == ""){
		alert("닉네임을 자유롭게 입력해주세요.");
		$('#userName').focus();
		return false;
	} else if ($('#userRrno').val() == ""){
		alert("생년월일을 입력해주세요.");
		$('#userRrno').focus();
		return false;
	} else if ($('#userGender').val() == ""){
		alert("성별을 선택해주세요.");
		$('#userGender').focus();
		return false;
	} else {
		//alert("회원가입 전송");
		return true;
	}
	
	
}
</script>
</head>
<body>
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<div class="content">
					<h1>Thumbs up!</h1>
					  <form th:action="@{/login/userLogin}" action="#" id="login_form" method="POST" onsubmit="return loginChk()" style="display:block;">
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>ID&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="id" id="userId" value="" /></h2>
						</div>
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>PWD<input type="password" name="pwd" id="userPwd" value="" /></h2>
						</div>
						<!-- 회원가입으로 버튼 -->
						<a id="goRegister" onclick="loginBtnNone(this.id)">
							<img src="resources/assets/icon/icons8-add-user-64.png"/>
						</a>
						<!-- 로그인 버튼 -->
						<button id="login_btn" type="submit"><span>Login</span></button>
						<!-- 누르면 작아지는 버튼 -->
						<a id="goSmall" href="#" class="button big alt" onclick="loginBtnNone(this.id)">
							<img src="resources/assets/icon/icons8-shutdown-40.png"/>
						</a>
					</form>
					
					 <form th:action="@{/login/userRegister}" action="#" id="register_form" method="POST" onsubmit="return registerChk()">
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>ID&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="id_reg" id="userId_reg" value="" /></h2>
						</div>
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>PWD<input type="password" name="pwd_reg" id="userPwd_reg" value="" /></h2>
						</div>
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>닉네임<input type="text" name="name" id="userName" value="" /></h2>
						</div>
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>생년월일<input type="text" name="rrno" id="userRrno" value="" /></h2>
						</div>
						<div id="login_div" class="col-md-12 col-sm-12 col-xs-12">
							<h2>성별<input type="text" name="gender" id="userGender" value="" /></h2>
						</div>
						<button id="register_btn" type="submit"><span>Register</span></button>
						<!-- 누르면 로그인 폼으로 변경되는 버튼 -->
						<a id="goLogin" onclick="loginBtnNone(this.id)">
							<img src="resources/assets/icon/icons8-loginleft-rounded-left-50.png"/>
						</a>
					</form>
					
				</div>
				<!-- 작아진 버튼 -->
				<a href="#" id="miniTopBtn" class="button hidden" onclick="loginBtnNone(this.id)"><span>Let's Go</span></a>
			</div>
		</header>

		<!-- Main -->
		<!-- 검색영역 -->
		<div id="main">
			<div class="inner">
				<div id="search_wrap" class="col-md-12 col-sm-12 col-xs-12">
					<div id="search_div">
						<input type="text" id="keyword" value="" />
						<img id="search_icon" src="resources/assets/icon/icons8-search-64.png" />
					</div>
				</div>
			</div>
		</div>
		
		<!-- 검색 필터영역 -->
		<div id="filter_wrap" class="col-md-12 col-sm-12 col-xs-12">
			Filters......
		
		</div>
		
		<!-- 검색 내용영역 -->
		<div id="filter_wrap" class="col-md-12 col-sm-12 col-xs-12">
			Contents.........
		
		</div>

		<!-- Footer -->
		<footer id="footer">
			<a href="#" class="info fa fa-info-circle"><span>About</span></a>
			<div class="inner">
				<div class="content">
					<h3>Vestibulum hendrerit tortor id gravida</h3>
					<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
				</div>
				<div class="copyright">
					<h3>Follow me</h3>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
				</div>
			</div>
		</footer>

	<!-- Scripts -->
	<script src="resources/assets/js/jquery.min.js"></script>
	<script src="resources/assets/js/skel.min.js"></script>
	<script src="resources/assets/js/util.js"></script>
	<script src="resources/assets/js/main.js"></script>

</body>
</html>